*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/markdown-navigator
/gradle.properties
/app/src/main/assets
/projectFilesBackup/.idea
/.idea/caches
/.idea/kotlinc.xml
